html, body
  {
    height:100%;
  }

body
  {
    background-color:#446B96; // black
  }

.container
  {
    max-width:500px;
    margin:0 auto;
    margin-top:30px;
    padding:20px;
    height:100%;
  }

.credit{
  color:#fff;
  margin:0 12%;
  margin-top:40px;
  float:left;
  text-align:center;
}

.credit a {
  color:#fff;
  text-decoration:none;
}

.credit a:hover {
  text-decoration:underline;

}

#app {
  /** border:green solid 2px;**/
  background-color:#F1ECE6;
  border:2px #ececec solid;
  border-radius:5px;
  float:left;
  padding:40px 0 20px;
  margin: 0 10%;
  -webkit-box-shadow: -1px 4px 44px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 44px 4px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 44px 4px rgba(0,0,0,0.75);
}

#resultConsole
{
  padding: 10px;
  border-radius:5px;
  border:2px solid #59525D;
  background-color:#C8C3B3;
  width:64%;
  margin:0 auto;
  font-size:1.8rem;
  color:#59525D;
  text-align:right;
}

#keyPad {
  width:360px;
  padding: 0px;
  margin: 0 auto;
  float:left;
}

.key
{
  display:block;
  border-radius:5px;
  margin:0 8px 8px 0;
  float:left;
  font-size: 1.5rem;
  width:60px;
  height:60px;
  line-height:60px;
  text-align:center;
  cursor: pointer;
  -webkit-box-shadow: -1px 4px 28px -11px rgba(38,38,38,1);
  -moz-box-shadow: -1px 4px 28px -11px rgba(38,38,38,1);
  box-shadow: -1px 4px 28px -11px rgba(38,38,38,1);
}

.key:hover{
  border:#B0D0D7 2px solid; // light blue border
}

.lgbtn {
  width:132px;
}

.redbtn {
  background-color:red;
  color:white;
  border: red 2px solid;
}

.whitebtn {
  background-color:#fff;
  color:#41413e;
  border:#59525D 2px solid;
}

.greybtn {
  background-color:#59525D;
  border: solid 2px #59525D;
  color:#fff;
}
